{% extends "index.html" %}
{% block content %}
<div class="grid grid-pad" id="content">
    <div class="col-6-12">
        <div class="content">
            <ul id="item_list">
                <li>
                <div class="item">
                    <h3>
                        {{event.name}}
                    </h3>
                    <p class="submitted_by">
                    <span class="hatred">✄</span>
                    <span><a href="{{ url_for('metaforcefeed.user_history', username=event.created_by) }}">{{event.created_by}}</a> {{event.created_by|user_badge|safe}}</span>
                    <span>{{event.comments|length}} ✍</span>
                    </p>

                    {% if user.username == event.created_by or user.admin %}
                    <ul id="admin_funcs">
                        <li>
                            <a id="delete_btn" href="#">Delete</a>
                            {#
                            <div class="hidden" id="delete_form">
                                <form action="{{ url_for('metaforcefeed.delete', slug=item.slug) }}" method="POST">
                                    <input name="_csrf_token" type="hidden" value="{{ csrf_token() }}" >
                                    <button class="red" type="submit">I don't care anymore.</button>
                                </form>
                                <button id="nevermind">Nevermind.</button>
                            </div>
                            #}
                        </li>
                        <li>
                            <a href="#">Edit Idea</a>
                        </li>
                    </ul>
                    {% endif %}

                    <p>{{event.description|markdown}}</p>
                </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-6-12">
        <div class="content">
                <form class="new_comment" method="POST">
                    <input name="_csrf_token" type="hidden" value="{{ csrf_token() }}" />
                    <textarea name="comment" placeholder="SPEAK, MORTAL."></textarea>
                    <input type="submit" value="Submit" />
                </form>
                <ul class="comments">
                    {% for comment in event.comments %}
                    <li class="{{loop.cycle('odd', 'even')}} comment">
                        <p>{{comment.text|markdown}}</p>
                        {% if comment.created_at %}
                            <span>{{comment.created_at|unix_to_human}} &bull;</span>
                        {% endif %}
                        <span><a href="{{ url_for('metaforcefeed.user_history', username=comment.username) }}">{{comment.username}}</a> {{comment.username|user_badge|safe}}</span>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
