<!DOCTYPE html>
<html>
    <head>
        <title>#metaforcefeed</title>
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/simplegrid.css') }}" />
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
    </head>
    <body>
        <div id="nav" class="grid grid-pad">
            <div class="col-8-12">
                <div class="content">
                    <!-- <h1 id="main_header"><a href="{{ url_for('metaforcefeed.root') }}">#metaforcefeed</a></h1> "Bash disinformation campaign."</span> -->
                    <h1 id="main_header"><a href="{{ url_for('metaforcefeed.root') }}">#metaforcefeed</a></h1>
                    <span style="color: #FFF; background-color: #000;">
                        "<span style="color: #FF4ABD;">nijotz</span> | You just manage their addictions until they die"
                    </span>
                </div>
            </div>
            <div class="col-4-12">
                <div class="content">
                    <ul>
                        {% if user %}
                        <li><a href="{{ url_for('metaforcefeed.submit') }}">Submit New</a></li>
                        <li><a href="{{ url_for('metaforcefeed.logout') }}">Logout</a></li>
                        {% else %}
                        <li><a href="{{ url_for('metaforcefeed.login') }}">Login</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
        {% block content %}
        <div class="grid grid-pad" id="content">
            <div class="col-6-12">
                <div class="content">
                    <ul id="item_list">
                        {% for item in items|reverse %}
                            {% if item %}
                            <li>
                                <div class="item">
                                    <div data-slug="{{item.slug}}" class="arrow_up"></div><span class="pings">{{item.pings}}</span>
                                    <h3><a href="{{ url_for('metaforcefeed.item', slug=item.slug) }}">
                                            {{item.short_summary}}
                                    </a></h3>
                                    <span>Comments: {{item.comments|length}}</span>
                                    <span class="error"></span>
                                </div>
                            </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        {% endblock %}
        <script src="{{ url_for('static', filename='js/ping.js') }}"></script>
        <script>
            ping_url = "{{url_for('metaforcefeed.ping', slug='0')}}";
            csrf_token = "{{ session['_csrf_token'] }}";
            ping_init();
        </script>
    </body>
</html>
