<!DOCTYPE html>
<html>
    <head>
        <title>#metaforcefeed</title>
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/simplegrid.css') }}" />
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
    </head>
    <body>
        <div id="nav" class="grid grid-pad" id="content">
            <div class="col-8-12">
                <div class="content">
                    <span><h1 id="main_header">#metaforcefeed</h1> Idea tracker. Ping ideas you think are important.</span>
                </div>
            </div>
            <div class="col-4-12">
                <div class="content">
                    <ul>
                        <li><a href="{{ url_for('metaforcefeed.submit') }}">Submit New</a></li>
                        <li><a href="{{ url_for('metaforcefeed.login') }}">Login</a></li>
                    </ul>
                </div>
            </div>
        </div>
        {% block content %}
        <div class="grid grid-pad" id="content">
            <div class="col-12-12">
                <div class="content">
                    <ul>
                        {% for item in items %}
                            <li>
                                <div class="item">
                                    {{ item.name }}
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        {% endblock %}
    </body>
</html>
