{% extends "index.html" %}
{% block content %}
<div class="grid grid-pad" id="content">
    <div class="col-6-12">
        <div class="content">
            {% if error %}
            <p class="error">{{error}}</p>
            {% endif %}
            <form id="submission_form" method="post">
                <input name="_csrf_token" type="hidden" value="{{ csrf_token() }}" />

                <label for="short_summary">Short Summary: </label>
                <input id="short_summary" name="short_summary" type="text" />

                <label for="longer_summary">Longer Summary: </label>
                <textarea id="longer_summary" name="longer_summary" placeholder="Markdown summary of the idea." ></textarea>

                <input type="submit" value="Submit" />
            </form>
        </div>
    </div>
    <div class="col-6-12">
        <div class="content">
            <p>Don't know what to write? Try following these guidelines:</p>
            <h2>Goal</h2>
            <p>What is the goal of the project? Why is it worth creating?</p>
            <h2>Ideal Usecase</h2>
            <p>Who wants to use it? What for? Does a tool already exist? Are you a dense motherfucker?</p>
            <h2>Why</h2>
            <p>Fucking WHY</p>
            <h2>Resources</h2>
            <p>Link to things that may be useful or related in the creation of this idea.</p>
        </div>
    </div>
</div>
{% endblock %}
